 <!-- Start CSS for Context Menu (alif)-->

ul, li{margin:0;padding:0;}

ul.pmenu {
        position:absolute;
        margin: 0;
        padding: 1px;
        list-style: none;
        width: 150px; /* Width of Menu Items */
        border: 1px solid #ccc;
        background:white;
        display:none;
		left:0;
		top:0;
        z-index:10;
}

ul.pmenu li {
         position: relative;
}

ul.pmenu li ul {
         position: absolute;
         left: 150px; /* Set 1px less than menu width */
         top: 0;
         display: none;
         z-index:10;
}

/* Styles for Menu Items */
ul.pmenu li a {
         display: block;
         text-decoration: none;
         color: black;
         padding: 2px 5px 2px 20px;
}

ul.pmenu li a:hover {
    background:#335EA8;
    color:white;
}

ul.pmenu li a.parent {
    background:url('drop_down_triangle.gif') no-repeat 140px 4px; 
}
ul.pmenu li a.parent:hover {
    background:#335EA8 url('drop_down_triangle_hover.gif') no-repeat 140px 4px;
}

/* IE \*/
* html ul.pmenu li { float: left; height: 1%; }
* html ul.pmenu li a { height: 1%; }
* html ul.pmenu li ul {left:147px;}
/* End */

ul.pmenu li:hover ul, ul.pmenu li.over ul { display: block; } /* The magic */
ul.pmenu li ul{left:150px;}

<!-- End CSS for context menu (alif)-->